.navbar {
    font-size: 20px;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    text-align: center;
}

.btn {
    margin: 5px;
}

.carta {
    width: 23%;
    margin: 10px; 
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
}

@media screen and ( max-width: 1035px ) {
    .carta {
        width: 30%;
    }
}

@media screen and ( max-width: 767px ) {
    .carta {
        width: 45%;
    }
}

@media screen and ( max-width: 544px ) {
    .carta {
        width: 100%;
        margin-right: 30px;
    }

}

.container {
    text-align: center;
}
.align {
    width: 50%;
}